
@{
    ViewData["Title"] = "EmailSent";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center w-100 h-100">
    <p class="text-dark fs-1">Check Your Inbox</p>
</div>