@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <form method="post" id="signup-form" class="signup-form" asp-action="Register">
                    <h2 class="form-title">Create account</h2>
                    <div class="form-group">
                        <input type="text" class="form-input" asp-for="FirstName"  placeholder="First Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" asp-for="LastName" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-input" asp-for="Email" name="email" id="email" placeholder="Your Email" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" asp-for="Password"   placeholder="Password" />
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="IsAgree" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                    </div>
                </form>
                <p class="loginhere">
                    Have already an account ? <a asp-action="Login" class="loginhere-link">Login here</a>
                </p>
            </div>
        </div>
    </section>

</div>

