@model DepartmentDto

<h1 class="my-3">Update Department</h1>
@if (ViewBag.error == true)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()

    </div>
}

<div class="container">
    <form asp-action="Update" class="mt-5">
        <div class="form-group mb-3">
            <label asp-for="Name" class="col-form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name">
        </div>
        <div class="form-group mb-3">
            <label asp-for="Name" class="col-form-label">Code</label>
            <input type="text" class="form-control" asp-for="Code">
        </div>
        <button type="submit" class="btn btn-success px-3"> Update </button>
        <a asp-action="index" class="btn btn-outline-primary px-3"> Back </a>

    </form>
</div>